<div id="resetFormID" class="reset-container">

  <button type="button" class="close" aria-label="Close" (click)="closeSignUp()">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="parent-div">
    <!--  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-horizontal "> -->
    <form [formGroup]="resetForm" class="form-horizontal ">
      <div class="panel-title">
        <div class="title">
          <h2 id="title-reset">Reset Your Password</h2>
        </div>
      </div>

      <div class="panel-body">

        <div class="email-part">
          <input id="emailid" formControlName="emailid" type="email" class="form-control" placeholder="Email ID"
            required autofocus>
        </div>

        <div class="temppassword-part">
          <input id="temppassword" formControlName="temppassword" type="password" class="form-control"
            placeholder="Your OTP" required autofocus>
        </div>

        <div class="createnewpassword-part">
          <input id="createnewpassword" formControlName="createnewpassword" type="password" class="form-control"
            placeholder="Create New Password" required autofocus>
        </div>

        <div class="confirmpassword-part">
          <input id="confirmpassword" formControlName="confirmpassword" type="password" class="form-control"
            placeholder="Confirm Password" required autofocus>
        </div>


      </div>

      <div class="panel-footer">
        <button id="id-send-otp" class="button btn btn-lg btncolor btn-block text-uppercase icon-arrow-right"
          type="submit" (click)="sendOTP()">Send OTP</button>

        <button id="id-temp-pwd" class="button btn btn-lg btncolor btn-block text-uppercase icon-arrow-right"
          type="submit" (click)="sendTempPassword()">Submit</button>

        <button id="id-reset-pwd" class="button btn btn-lg btncolor btn-block text-uppercase icon-arrow-right"
          type="submit" (click)="sendResetPassword()">Reset</button>
      </div>



    </form>
  </div>

  <div class="div-resend-otp">
    <a id="id-resend-otp-link" class="resend-otp-link" (click)="resendOTP()">Resend OTP ? Click here !!!</a>
  </div>
</div>