<div class="handwritten-test-container">
    <div class="conduct-questions mat-elevation-z4">
        <div class="main-page">
 
            <div class="page-header">

                <div class="header">
                    <div class="select-basic-details">
                        <form id="Set-basic-details" [formGroup]="selectedBasicData" (ngSubmit)="onSubmitBasicData()">
                            <div class="select-class">
                                <mat-form-field class="assigned-classes">
                                    <mat-label>Select Class</mat-label>
                                    <mat-select formControlName="selectedClass" name="Classes">
                                        <mat-option *ngFor="let cla of class" [value]="cla.classValue">
                                            {{cla.className}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="select-subject">
                                <mat-form-field class="assigned-subjects">
                                    <mat-label>Select Subject</mat-label>
                                    <mat-select formControlName="selectedSubject" name="Subject">
                                        <mat-option *ngFor="let sub of subject" [value]="sub.subjectValue">
                                            {{sub.subjectName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="create-question-container">
                                <div class="create-questions">
                                    <div class="add-option">
                                        <div class="button-to-add">
                                            <button class="btn btn-add-question mat-elevation-z4"
                                                (click)="showAddQuestionComponents()">Add Question</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <form id="Set-Question-Form" [formGroup]="selectedData" (ngSubmit)="onSubmit()">
                    <div class="main-container">



                        <div class="add-question-container" *ngIf="showSetQuestion">
                            <div class="question-block">

                                <h2 id="desc1">Create your Question</h2>
                                <div class="question-req-fields">
                                    <mat-form-field class="question-field">
                                        <mat-label>Create a question</mat-label>
                                        <textarea matInput formControlName="enteredQuestion"></textarea>

                                    </mat-form-field>
                                </div>

                                <div class="question-keywords">
                                    <mat-form-field class="keywords">
                                        <mat-label>Enter Keywords</mat-label>
                                        <textarea matInput placeholder="Example : KeyWord A,KeyWord B,KeyWord C"
                                            formControlName="enteredKeyWords"></textarea>
                                    </mat-form-field>
                                </div>


                                <div class="score-and-submit">
                                    <div class="score">
                                        <mat-form-field class="example-form-field">
                                            <mat-label>Enter Score</mat-label>
                                            <input matInput type="number" formControlName="allocatedScore">
                                        </mat-form-field>
                                    </div>

                                    <div class="set-question">
                                        <button class="btn btn-set-question mat-elevation-z4"
                                            (click)="setQuestionForTest()">Set Question</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </form>
 
                <div class="sets-of-questions" *ngIf="showQuestionTable">
                    <div class="question-in-table table-responsive">

                        <h2 id="desc2">Question List</h2>
                        <table class="table question-table">
                            <thead>
                                <tr>
                                    <th scope="col">Que.No</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">KeyWords</th>
                                    <th scope="col">Marks</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let que of showConductedQuesData">

                                    <td scope="row"></td>
                                    <td>{{que.showselectedClass}}</td>
                                    <td>{{que.showSelectedSubject}}</td>
                                    <td>
                                        <div class="class-keywords">
                                            {{que.showCreatedQuestion}}

                                        </div>
                                    </td>

                                    <td>

                                        <div class="class-keywords">
                                            {{que.showEnteredKeyWords}}
                                        </div>
                                    </td>

                                    <!--   <td>
                                    <div class="keyword-display" *ngFor="let key of keyword">{{key.name}},</div>
                                  </td> -->
                                    <td>{{que.showQuestionScore}}</td>
                                    <td>
                                        <button class="btn btn-delete-row mat-elevation-z4"
                                            (click)="remove(que)">Remove</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="create-submit-container" *ngIf="showSubmitButton">
                    <div class="submit-questions">
                        <div class="conduct-submit-option">
                            <div class="button-to-conduct">
                                <button class="btn btn-conduct-question mat-elevation-z4"
                                    (click)="conductExam()">Conduct Exam</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <br>
</div>