<!--Text and Button-->
<div id="WrapperID" class="Wrapper">
    <p class="vsLetter">Virtual School</p>
    <br>
    <p>Keep Learning !!!</p>
    <p>Embrace New Experience, See New Opportunities, Surprise Yourself !!!</p>
   
   <!-- <button class="button button-4 button-4c icon-arrow-right" (click)="openDialog()"><i class="fa fa-arrow-right"></i>Sign Up - Virtual School</button>   -->
   <button class="button mat-elevation-z4" (click)="openDialog()">Sign Up - Virtual School</button>  
   <br> <br> <br> <br> 
</div>








