
<section class="entire">
<section class="nav-section">
<div class="topnav">
<div class="logo">
  <img class="logo-image" src="../../assets/BrandLogo/Logo - Composite - GreyRed - Mobile.PNG">
</div> 

<div class="navigatons">

  <button class="signup" mat-flat-button (click)="openDialog()">Sign Up</button>
  <button class="aboutus" mat-flat-button>About Us</button>
</div>

</div>

</section>

<section class="main-content">
  <div class="page-content">
  <div class="virtualquotes-div">
    <div class="virtualquotes">
      <app-landingcontent></app-landingcontent>
    </div>
  </div>

  <div class="login-div">
    <div class="login-content">
     <app-login></app-login>
    
    </div>
  </div>
</div>
</section>

</section>

