<nav>
    <button class="checkbtn" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h2 class="timeLineClass" style="padding-left: 40px;">{{timelineValue}}</h2>
</nav>

<!--<mat-sidenav-container fullscreen> -->
<mat-sidenav-container>
    <mat-sidenav #drawer class="side-nav" mode="side" opened position="start">
        <div class="pageTitle">
            <h2>Subjects</h2>
        </div>
        <div class="sideNavLink">
            <mat-nav-list>
                <mat-list-item *ngFor="let sub of subjectList; let i = index">
                    <h2>{{sub.subject}}</h2>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </div>
        <div class="sideNavProfileName">
            <h2>Profile and Exit</h2>
        </div>
        <div class="sideNavLink">
            <mat-nav-list>
                <mat-list-item (click)="GoToHome()">
                    <h2>Home</h2>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <h2>Sign-out</h2>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>


    <!--///////////////////////Main Content/////////////////////////////////-->

    <mat-sidenav-content style="overflow:auto;">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Upload Material">
                <section class="student-homepage-content">
                    <br>
                    <div class="main-upload-container">
                        <div class="upload-container mat-elevation-z4">
                            <div class="upload-details">

                                <br>

                                <h2 id="uploaddesc">Select details to upload file :</h2>
                                <form id="Set-upload-details" [formGroup]="selectedUploadData"
                                    (ngSubmit)="onSubmitUploadData()">

                                    <div class="select-class">
                                        <mat-form-field class="assigned-classes">
                                            <mat-label>Select Class</mat-label>
                                            <mat-select formControlName="selectedClass" name="Classes">
                                                <mat-option *ngFor="let class of studentClass"
                                                    [value]="class.ClassName">
                                                    {{class.ClassName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="select-material-type">
                                        <mat-form-field class="applicable-type">
                                            <mat-label>Select Type</mat-label>
                                            <mat-select formControlName="selectedMaterialType" name="Material">
                                                <mat-option *ngFor="let type of uploadType" [value]="type.Type">
                                                    {{type.Type}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="select-chapter">
                                        <mat-form-field class="subject-chapters">
                                            <mat-label>Select Chapter</mat-label>
                                            <mat-select formControlName="selectedChapter" name="Chapter">
                                                <mat-option *ngFor="let chapter of existingChapter"
                                                    [value]="chapter.Chapter">
                                                    {{chapter.Chapter}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>

                                    <div class="document-title">
                                        <mat-form-field class="doc-title">
                                            <mat-label>Enter Title</mat-label>
                                            <input matInput formControlName="enteredTitle">
                                        </mat-form-field>
                                    </div>

                                </form>

                                <div class="material-upload">
                                
                                    <button class="btn btn-upload-button mat-elevation-z4" (click)="onClick($event)">
                                        {{chooseLabel}}
                                    </button>
                                    <input #fileUpload type="file" class="input_fileupload--hidden"
                                        (change)="onFileSelected($event)"
                                        [(ngModel)]="inputFileName" [accept]="accept">
    
                                        <button class="btn btn-submit mat-elevation-z4" (click)="onSubmit($event)">
                                            Upload
                                        </button>
                                    <div *ngFor="let f of files">
                                        <span>{{f.name}}</span>
                                        <button mat-icon-button color="primary"
                                            [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                                            (click)="removeFile(event,f)">
                                            <mat-icon>{{deleteButtonIcon}}</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary"
                                            [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                                            (click)="removeFile(event,f)"></button>
                                    </div>
                                </div>
                                <br> <br>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                </section>
            </mat-tab>

            <mat-tab label="Study Material">
                <section class="student-homepage-content">
                    <br>

                    <app-study-material-content></app-study-material-content>
                    <br><br><br>
                </section>
            </mat-tab>

            <mat-tab label="Manage Material">
                <app-teacher-manage-material></app-teacher-manage-material>
            </mat-tab>

        </mat-tab-group>




    </mat-sidenav-content>

</mat-sidenav-container>