.side-nav{
    width: 240px;
    background: #1C2A30; 
    }
    /*#2e2e2e;   rgba(22, 22, 22, 0.94);*/
  .pageTitle{
    color: #f7f7f7;
    background-color:#1C2A4D;
    text-align: center;
  }
    
    .imagediv{
      margin-left: 18%;
      margin-top: 15%;
  }

  .mat-sidenav-content{

    height: 94.9vh;
  }
    

    .sideNavProfileName{
      line-height: normal;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: #f7f7f7;
      background-color:#1C2A4D;
      width: 100%;
      text-align: center;
    }

  
    h2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: #f7f7f7;
    }

    h2.timeLineClass {
      display: flex;
      justify-content: center;
  }

  .searchBar{
    margin-left: 2%;
  }


    
    .sideNavContainer
    {
     padding-left: 10%;
  
 
    }
.mat-card-subtitle{
  color: rgb(255 255 255 / 63%);
}
    
   
    .icon-padding{
    padding-right:15px;
    }
    
    .mat-nav-list {
    text-align: center;

 
   /* padding-top:90px;  */
    }
    .mat-list-item:hover {
      opacity: 1;
      background-color:#1C2A4D;
    }
    
  
    
    .profile-img {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    }
    
  
    .mat-drawer-content {
    overflow: hidden;
    }
    .sideNavLink{
    overflow: hidden;
   
    }
    
    .mat-divider {
    padding:10px;
    border-width:0px;
    }

    .mat-drawer-inner-container {
      width: fit-content;
      height: 100%;
      overflow: auto;
      padding-left: -10px;
      margin-right: auto;
      -webkit-overflow-scrolling: touch;
  }



  .student-home-section{
    background: url('../../assets/Img/BlackBoard.jpg') no-repeat;
    background-size: cover;
    height: 38.2%
    }
    .mat-scheduled-class{
      padding-left: 200px;
      }

        nav {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background: #1C2A4D;
      height: 32px;
      width: 100%;
      color: white;
      }
      .mat-card-content-task {
      color: white;
      }
 
      button.checkbtn{
        font-size: 20px;
        color:#f7f7f7;
        float: right;
        line-height: 80px;
        
        cursor: pointer;
        display: block;
      /*  margin: 10px; */
        margin-top: -27px;
      }
  
  #check{
    display: none;
  }


  .select-class,.select-material-type,.select-chapter,.document-title{
    display: inline-block;
    margin-right: 30px;
  }

  .upload-details{
    margin-left: 4%;
  }


  h2#uploaddesc{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
    color: black;
  }
 
  .upload-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: white;
  }

  .file-upload-class{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  @media (max-width:858px){
  
  nav{
    padding-top: 10px;
  }
  button.checkbtn{
    display: inline-block;
    margin-top: -35px;
    
  }
  .timeLineClass
    {
      margin-top: -10px;
     
    }
  
  
  .togglebutton{
    display: none;
  }
    #check:checked ~ ul{
      left:0;
  
    }

   
  
 
  }


  .subjectMaterialBox{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    
  
  }
  
  .page-div-content-title{
    color: black;
  }

  .page-div-video-title{
    color: black;
  }
  /*
.mat-card{
  text-align: center;
  background: #3b5998; search-button
} */
  .page-div-content-subject-title{
    color: black;
   
  }


.chapters{
  margin-right: 30px;
}

.topics{
  margin-right: 30px;
}

button#search-button{
  background-color: #3c5592;
  color: white;
  transition: transform .2s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

button#search-button:hover {
  -ms-transform: scale(1.075); /* IE 9 */
  -webkit-transform: scale(1.075); /* Safari 3-8 */
  transform: scale(1.075); 
}
 
button.btn-upload-button,button.btn-submit{
  margin-right: 3%;
  background-color: #3c5592;
  color: white;
  transition: transform .2s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button.btn-upload-button:hover,button.btn-submit:hover {
  -ms-transform: scale(1.075); /* IE 9 */
  -webkit-transform: scale(1.075); /* Safari 3-8 */
  transform: scale(1.075); 
}




.expansion-header-study-material .mat-expansion-panel-header-title,
.expansion-header-study-material .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.expansion-header-study-material .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.expansion-header-study-material .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.available-videos{

  display: inline-block;
  margin-left: 45px;
  margin-bottom: 15px;
  width: 250px;
}
.videos-toplay{
  width: 100%;
  height: 100%;
}

.available-docs{

  display: inline-block;
  margin-left: 45px;
  margin-bottom: 15px;
  width: 125px;
}
.doc-logo{
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10%;
}

.input_fileupload--hidden{
  display:none;
  }

.material-upload{
  margin-top: 10px;
}

@media (max-width:425px){

  .topics{
    margin-left: 0px;
  }


  

}

@media (max-width:450px){

  .available-videos{
    margin-left: 0px;
    width: 100%;
  }
  .videos-toplay{
    width: 100%;
  }
  .available-docs{

    width: 50%;
    margin-left: 0px;

  }
  .doc-logo
  {
    margin-left: 20%;
    margin-top: 25%;
  }

  .side-nav{
    width: 100%;
    }

  

   
  
}

@media (max-width:400px){
  .doc-logo
  {
    margin-left: 16%;

  }
}

@media (max-width:400px){
  .doc-logo
  {
    margin-left: 15%;

  }
}


@media (max-width:300px){
  .available-docs{

    width: 100%;
    margin-left: 0px;

  }
  .doc-logo{
    margin-left: 20%;
    margin-top: 25%;
}
}

