<div class="percentage-projection">

    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h2 class="current-rank-number" style="color: black;">Rank 2</h2>
            <p>Student Rank</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="90"></mat-progress-bar>
        <br>
    </div>

    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="current-percent-number">76%</h1>
            <p>Current Examination</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="76"></mat-progress-bar>
        <br>
    </div>

    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="last-percent-number">63%</h1>
            <p>Previous Examination</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="69"></mat-progress-bar>
        <br>
    </div>

    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="highest-Score-number">89%</h1>
            <p>Highest : Mathematics</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="89"></mat-progress-bar>
        <br>
    </div>

    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="least-Score-number">45%</h1>
            <p>Least : Biology</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="45"></mat-progress-bar>
        <br>
    </div>


    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="attendance-number">90%</h1>
            <p>Overall Attendance</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="90"></mat-progress-bar>
        <br>
    </div>


    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="discipline-number">51%</h1>
            <p>Student Discipline</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="51"></mat-progress-bar>
        <br>
    </div>



    <div class="mat-elevation-z4 current-percent">
        <div class="current-percent-values">
            <h1 class="overall-percent-number">69%</h1>
            <p>Overall Performance</p>
        </div>
        <mat-progress-bar class="current-percent-progress" mode="determinate" value="69"></mat-progress-bar>
        <br>
    </div>

</div>

<div class="pictorial-presentation">
    <app-student-areachart-performance></app-student-areachart-performance>
    <app-student-barchart-subjectmarks></app-student-barchart-subjectmarks>
</div>
<div class="table-presentation">
   <app-student-table-exammarks-dashboard></app-student-table-exammarks-dashboard>
</div>