
  .percentage-projection{
    margin-top: -1%;
    margin-left: -1%;
  } 

  .current-percent{

    width: 240px;
    margin-left: 5%;
    overflow: hidden;
    border-radius: 10px;
    display: inline-block;
    margin-top: 3%;
    cursor: pointer;
    transition: transform .2s;
  }

  .current-percent:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }

  .current-percent-progress{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .current-percent-values{
    margin-left: 7.5%;
  }

  .student-activities{
    margin-left: 3.5%;
 
  }
  .least-Score-number,.highest-Score-number,.current-rank-number,.attendance-number,.discipline-number,.last-percent-number,.overall-percent-number,.current-percent-number{
    padding-top: 10px;
    margin-bottom: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
 
  }

  p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  @media (max-width:858px){
  
    nav{
      padding-top: 10px;
    }
    button.checkbtn{
      display: inline-block;
      margin-top: -35px;
      
    }
      .timeLineClass
      {
        margin-top: -10px;
     
      }
    
    
   
      #check:checked ~ ul{
        left:0;
    
      }
    
    
    }
  
    @media (max-width:770px){
  
      .current-percent {
        width: 445px;
    }
  
    }
    @media (max-width:770px){
  
      .current-percent {
        width: 330px;
    }
  
    }
  
    @media (max-width:450px){
  
    .current-percent {
        width: 90%;
        margin-left: 5%;
        margin-top: -2%;
        margin-bottom: 6%;
    }
  
  
  
    .side-nav{
      width: 100%;
   
      }
  
  
  
  
    }
  
  
  
    
    
  
    
  
  


