.new-password,.confirm-password{
    width: 200px;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 50px;
  }


  .change-password{
    margin-top: 10px;
    margin-left: 8%;
  }

  button{
    background-color: #3c5592;
    color: white;
    transition: transform .2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
  
   button:hover {
    color: white;
    -ms-transform: scale(1.075); /* IE 9 */
    -webkit-transform: scale(1.075); /* Safari 3-8 */
    transform: scale(1.075); 
  }

  button.btn-change-password{
    color: white;
  }

  h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-style: italic;
  }

