<br><br><br><br><br>
<mat-card class="cardReachUS" style="margin-left: auto; margin-right: auto;" >
  <mat-card-header>
    <div mat-card-avatar class="cardSchoolLogo"></div>
    <mat-card-title>Victoria</mat-card-title>
    <mat-card-subtitle>Reach us</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Victoria School and Junior College at Anna Nagar West was started in 1979 by SBIOA Educational Trust formed by the State Bank of India Officers' Association (Chennai Circle) then headed by its General Secretary, Shri E A G Moses. 
      The purpose of starting the School was to let the children of the Officers of State Bank of India continue their education when their SBI Officer parents get transferred. 
      Shri E A G Moses contributed Rs.8000/- initially and contributions from other Officers followed.
    </p>
    <div class="contactdetail">
    <div>
      <label class="col-sm-4 control-label">Address :</label>
      <label class="col-sm-8 control-label">Vilakkadi koil street, kanchipuram - 631 501</label>
    </div>
    <div>
      <label class="col-sm-4 control-label">Email :</label>
      <label class="col-sm-8 control-label">Victoria@gmail.com</label>
    </div>
    <div>
      <label class="col-sm-4 control-label">Phone :</label>
      <label class="col-sm-8 control-label">+91-9876543210</label>
    </div>
  </div>
  </mat-card-content>
  <mat-card-actions>
  <h5 style="padding-left: 85%"><a href="#" >Cancel</a></h5>
  </mat-card-actions>
</mat-card>
