<div class="all-material">
    <div class="material-detail table-responsive">

        <table class="table material-table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Time</th>
                    <th scope="col">Class</th>
                    <th scope="col">Section</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Join</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let meetings of teacherMeetings">
                    <td scope="row"></td>
                    <td>{{meetings.Time}}</td>
                    <td>{{meetings.Class}}</td>
                    <td>{{meetings.Section}}</td>
                    <td>{{meetings.Subject}}</td>
                    <td>{{meetings.Topic}}</td>
                    <td>
                        <a href="{{meetings.Join}}" target="_blank"><button
                                class="btn btn-join-now mat-elevation-z4">Join</button></a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>